.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $Secondary;
  color: $Primary;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu-list {
  width: 70%;
  display: flex;
  font-weight: 700;
  font-size: 1rem;

  &__item {
    margin: 20px;
  }
}
.menu-image {
  width: 60px;
  border-radius: 50%;
}
