.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  background-color: $Secondary;
  color: $Primary;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8%;
}
.menu-list {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;

  &__item {
    margin: 5px;

    @include tablet {
      margin: 10px;
      font-size: 1rem;
    }
    @include desktop {
      margin: 20px;
    }
  }
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 70%;
  }
}
.menu-image {
  width: 45px;
  border-radius: 50%;

  @include tablet {
    width: 60px;
  }
}
