@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto/roboto-500.ttf");
  font-weight: normal;
}

.App {
  width: 100vw;
  font-family: $Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
