.section-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  @include tablet {
    width: 55%;
    margin-left: 7.5px;
  }
  @include desktop {
    margin-left: 15px;
  }
}

.form {
  max-width: 500px;
  margin-top: 40px;

  &__title {
    margin-left: 15px;
    font-size: 1rem;
  }

  &__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--area {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    @include tablet {
      max-width: 400px;
    }
    @include desktop {
      min-width: 570px;
    }
  }

  @include tablet {
    max-width: 400px;
    margin-top: 22px;
  }
  @include desktop {
    max-width: 570px;
  }
}

.input-wraper {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 15px;

  &--area {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    @include tablet {
      width: 370px;
    }
  }
  @include tablet {
    width: 170px;
  }
  @include desktop {
    width: 255px;
  }
}

.button-wraper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 40px;

  &__send {
    width: 75px;
    height: 32px;

    font-weight: bold;
    font-size: 0.9rem;
    background-color: $Primary;
    color: $White;
    border-radius: 5px;
    border: none;

    @include tablet {
      margin-left: 10px;
    }
  }
  &__reset {
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: $White;
    color: $Primary;
    border-radius: 5px;
    border: none;
    @include tablet {
      margin-right: 10px;
    }
  }
  @include tablet {
    flex-direction: row;
    justify-content: flex-end;
  }
  @include desktop {
    width: 540px;
  }
}

.label-text {
  width: 270px;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.input {
  width: 300px;
  height: 32px;

  background: radial-gradient(
        circle at 100% 100%,
        $White 0,
        $White 5px,
        transparent 5px
      )
      0% 0%/6px 6px no-repeat,
    radial-gradient(circle at 0 100%, $White 0, $White 5px, transparent 5px)
      100% 0%/6px 6px no-repeat,
    radial-gradient(circle at 100% 0, $White 0, $White 5px, transparent 5px) 0%
      100%/6px 6px no-repeat,
    radial-gradient(circle at 0 0, $White 0, $White 5px, transparent 5px) 100%
      100%/6px 6px no-repeat,
    linear-gradient($White, $White) 50% 50% / calc(100% - 2px) calc(100% - 12px)
      no-repeat,
    linear-gradient($White, $White) 50% 50% / calc(100% - 12px) calc(100% - 2px)
      no-repeat,
    radial-gradient($Secondary 0%, $Primary 100%);
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  border: none;

  &--area {
    width: 300px;
    margin-top: 5px;
    background: radial-gradient(
          circle at 100% 100%,
          $White 0,
          $White 5px,
          transparent 5px
        )
        0% 0%/6px 6px no-repeat,
      radial-gradient(circle at 0 100%, $White 0, $White 5px, transparent 5px)
        100% 0%/6px 6px no-repeat,
      radial-gradient(circle at 100% 0, $White 0, $White 5px, transparent 5px)
        0% 100%/6px 6px no-repeat,
      radial-gradient(circle at 0 0, $White 0, $White 5px, transparent 5px) 100%
        100%/6px 6px no-repeat,
      linear-gradient($White, $White) 50% 50% / calc(100% - 2px)
        calc(100% - 12px) no-repeat,
      linear-gradient($White, $White) 50% 50% / calc(100% - 12px)
        calc(100% - 2px) no-repeat,
      radial-gradient($White 0%, $Primary 100%);
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
    border: none;

    @include tablet {
      width: 370px;
    }
    @include desktop {
      width: 540px;
    }
  }

  &--file {
    width: 300px;
    height: 32px;
    margin: 20px 0 10px 15px;

    @include tablet {
      width: 570px;
    }
  }

  @include tablet {
    width: 170px;
  }
  @include desktop {
    width: 255px;
  }
}

.hidden {
  display: none;
}
