.section-incidence {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 15px;

  &__image {
    width: 100%;
    min-width: 300px;
    max-width: 320px;
    justify-self: flex-start;

    @include tablet {
      max-width: 500px;
    }

    @include desktop {
      max-width: 500px;
    }
  }
  &__wrap {
    max-width: 320px;
    padding: 38px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      max-width: 500px;
    }

    @include desktop {
      max-width: 500px;
    }
  }
  &__article {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 8px 15px 10px 15px;

    @include tablet {
      max-width: 500px;
    }

    @include desktop {
      max-width: 500px;
    }
  }

  @include tablet {
    width: 50%;
    min-width: 330px;
    margin-right: 0px;
  }
  @include desktop {
    margin: 0px;
    min-width: 500px;
  }
}
.wrap__title {
  font-size: 1rem;
}
.wrap__date {
  font-weight: 300;
  color: $Grey;
}
.article__title {
  font-size: 1rem;
  margin-bottom: 15px;
}
.article__text {
  justify-self: flex-start;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 300;
}
.input-button {
  width: 175px;
  height: 32px;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: $Primary;
  color: $White;
  border-radius: 5px;
  border: none;
}
